#include "PasswordDialogRes.h"
#include "../../GuiCommon.rc"

#ifdef UNDER_CE
#define xc 140
#else
#define xc 200
#endif
#define yc 100

IDD_PASSWORD  DIALOG  0, 0, xs, ys  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "Enter password"
BEGIN
  LTEXT    "&Enter password:", IDT_PASSWORD_ENTER, m, m, xc, 8
  COMBOBOX IDC_PASSWORD_HISTORY, m, 20, xc, 100, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS
  CONTROL  "&Show password", IDX_PASSWORD_SHOW, MY_CHECKBOX, m, 42, xc, 10
  OK_CANCEL
END
